.canva {
    position: absolute;
}

.app-view {
    display: grid;
    height: 100vh;
    grid-template-rows: 56px auto 25px; /* 3 строки */
}

.app-view .app-view-nav {
    z-index: 3
}

.app-view .app-view-content {
    z-index: 1
}

.schema-view {
    position: relative;
    height: 100%;
}

.schema-editor {
    display:grid;
    grid-template-columns: min-content auto min-content
}

.full-flex {
    position: relative;
    height: 100%;
}

.editor-r-menu {
    width: 40px;
    border-left: 1px solid black;
}

.editor-menu {
    width: 340px;
    border-right: 1px solid black;
}

.app-view-footer {
    border-top: 1px solid black;
}

.navbar {
    border-bottom: 1px solid black;
}