.canva {
    position: absolute;
}

.app-view {
    display: grid;
    height: 100vh;
    grid-template-rows: 56px auto 40px; /* 3 строки */
}

.app-view .app-view-nav {
    z-index: 3
}

.app-view .app-view-content {
    z-index: 1
}

.schema-view {
    position: relative;
    height: 100%;
}

.schema-container {
    position: relative;
    height: 100%;
}